.widgetWelcomeHolder {
    background-color: white;
    
    
}

.widgetBg {
    position: relative;
    z-index: 30;
}

.bgImage {
   
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
}

.welcomeWidgetContent {
    display: flex;
    flex-direction: column;
    z-index: 500;
    background-color: white;
    padding: 10px;
    align-items: flex-start;
    justify-content: start;
}

.spacerv {
    height: 20px;
}

.contentItems {
    z-index: 500;
    text-align: left;
}

.headerTexts {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.whiteText {
    color: white;
}

.higherIndex {
    z-index: 500;
}

.conversationItem {
    align-self: stretch;
}

.spacerV {
    min-height: 10px;
}
