.HomeWidgetBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.LogoBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.LogoBox img {
    padding: 18px;
}

.headerTextBox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.selectionBox {
    display: flex;
    flex-direction: column;
}

.connectButtonBox {
    margin-top: '10px'
}