.App {
  text-align: center;
  display: flex;
  min-width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

